.catalago {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
    
}

@media (min-width: 100px) {
    .catalago{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 520px) {
    .catalago{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 728px) {
    .catalago{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .catalago{
        grid-template-columns: repeat(4, 1fr);
    }
}

.titulo {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 30px;
    font-size: 30px;
    color: white;
    
}

.objeto:nth-child(1) {
    grid-row-start: span 2;
}

.objeto:nth-child(2) {
    grid-row-start: span 3;
}

.objeto:nth-child(3) {
    grid-row-start: span 2;
}

.objeto:nth-child(4) {
    grid-row-start: span 2;
}

.objeto:nth-child(5) {
    grid-row-start: span 3;
}
.objeto:nth-child(6) {
    grid-row-start: span 2;
}
.objeto:nth-child(7) {
    grid-row-start: span 2;
}
.objeto:nth-child(8) {
    grid-row-start: span 2;
}
.objeto:nth-child(9) {
    grid-row-start: span 2;
} 


.objeto img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}

.objeto {
    position: relative;
    
}

.objeto p {
    position: absolute;
    bottom: 0;
    color: black;
    background: linear-gradient(rgba(255,255,255,0.5));
    width: 100%;
    margin: 0;
    padding: 10px;
}